In [1]:
import pandas as pd

In [59]:
ds = pd.read_csv('sensor_hourly.csv')
ds

,timestamp,pm01_0,pm02_5,pm10_0,temperature,humidity
0,2023-09-15 16:00:00+00:00,10.376344,16.581839,18.445640,27.618182,68.205938
1,2023-09-15 17:00:00+00:00,8.845237,17.723016,20.858731,25.693817,74.817905
2,2023-09-15 18:00:00+00:00,18.225108,31.000000,32.893939,24.510713,80.086345
3,2023-09-15 19:00:00+00:00,25.775532,45.891490,50.747341,24.288086,82.139830
4,2023-09-15 20:00:00+00:00,20.416719,35.120050,36.836583,23.953107,83.543535
...,...,...,...,...,...,...
2156,2023-12-14 12:00:00+00:00,45.691223,75.855016,94.730408,37.484846,26.124594
2157,2023-12-14 13:00:00+00:00,49.299130,80.293912,100.218260,38.031608,26.295861
2158,2023-12-14 14:00:00+00:00,41.776364,69.183638,84.912726,37.755106,30.166677
2159,2023-12-14 15:00:00+00:00,46.982325,76.780304,93.568180,35.925733,33.528131
2160,2023-12-14 16:00:00+00:00,42.153689,70.366728,87.108064,33.038557,38.996182

In [61]:
df =  pd.read_csv('reference_data_sorted.csv').loc[13927:15986]
df

                 timestamp       PM10       PM25
13927  2023-09-15 16:00:00   29.07626   9.079853
13928  2023-09-15 17:00:00   30.62244   9.620295
13929  2023-09-15 18:00:00   33.54864   9.536129
13930  2023-09-15 19:00:00   38.63517  11.114780
13931  2023-09-15 20:00:00   46.35809  14.166480
...                    ...        ...        ...
15982  2023-12-14 12:00:00  288.53610  72.436120
15983  2023-12-14 13:00:00  286.79260  71.784140
15984  2023-12-14 14:00:00  280.94620  72.671810
15985  2023-12-14 15:00:00  295.21030  67.931900
15986  2023-12-14 16:00:00  300.70790  68.170420

[2060 rows x 3 columns]

In [62]:
print(ds['timestamp'].min(), ds['timestamp'].max())
print(ds['timestamp'].nunique())

2023-09-15 16:00:00+00:00 2023-12-14 16:00:00+00:00
2161

In [63]:
df = pd.read_csv('reference_data_sorted.csv').loc[13927:15986]
print(df['timestamp'].min(), df['timestamp'].max())
print(df['timestamp'].nunique())

2023-09-15 16:00:00 2023-12-14 16:00:00
2060

In [64]:
ds['timestamp'] = pd.to_datetime(ds['timestamp'], utc=True)
df['timestamp'] = pd.to_datetime(df['timestamp'], utc=True)

In [65]:
sensor_times = set(ds['timestamp'])
reference_times = set(df['timestamp'])

extra_in_sensor = sensor_times - reference_times
missing_in_sensor = reference_times - sensor_times

print(f"Timestamps in sensor but not reference: {len(extra_in_sensor)}")
print(f"Timestamps in reference but not sensor: {len(missing_in_sensor)}")

Timestamps in sensor but not reference: 101
Timestamps in reference but not sensor: 0

In [69]:
import pandas as pd

# Convert to DataFrame and view
extra_df = pd.DataFrame({'extra_sensor_timestamps': sorted(extra_in_sensor)})
print(extra_df)

# Optional: save to CSV
extra_df.to_csv('extra_sensor_timestamps.csv', index=False)

      extra_sensor_timestamps
0   2023-09-20 17:00:00+00:00
1   2023-09-20 18:00:00+00:00
2   2023-09-20 19:00:00+00:00
3   2023-09-20 20:00:00+00:00
4   2023-09-20 21:00:00+00:00
..                        ...
96  2023-11-21 06:00:00+00:00
97  2023-11-21 07:00:00+00:00
98  2023-11-21 08:00:00+00:00
99  2023-11-21 09:00:00+00:00
100 2023-11-21 10:00:00+00:00

[101 rows x 1 columns]

In [67]:
# Ensure datetime format and timezone match
ds['timestamp'] = pd.to_datetime(ds['timestamp'], utc=True)
df['timestamp'] = pd.to_datetime(df['timestamp'], utc=True)

# Inner join on timestamp
aligned = pd.merge(ds, df, on='timestamp', how='inner')

print(aligned.shape)  # This should match the number of perfectly aligned hourly records
aligned

(2060, 8)

,timestamp,pm01_0,pm02_5,pm10_0,temperature,humidity,PM10,PM25
0,2023-09-15 16:00:00+00:00,10.376344,16.581839,18.445640,27.618182,68.205938,29.07626,9.079853
1,2023-09-15 17:00:00+00:00,8.845237,17.723016,20.858731,25.693817,74.817905,30.62244,9.620295
2,2023-09-15 18:00:00+00:00,18.225108,31.000000,32.893939,24.510713,80.086345,33.54864,9.536129
3,2023-09-15 19:00:00+00:00,25.775532,45.891490,50.747341,24.288086,82.139830,38.63517,11.114780
4,2023-09-15 20:00:00+00:00,20.416719,35.120050,36.836583,23.953107,83.543535,46.35809,14.166480
...,...,...,...,...,...,...,...,...
2055,2023-12-14 12:00:00+00:00,45.691223,75.855016,94.730408,37.484846,26.124594,288.53610,72.436120
2056,2023-12-14 13:00:00+00:00,49.299130,80.293912,100.218260,38.031608,26.295861,286.79260,71.784140
2057,2023-12-14 14:00:00+00:00,41.776364,69.183638,84.912726,37.755106,30.166677,280.94620,72.671810
2058,2023-12-14 15:00:00+00:00,46.982325,76.780304,93.568180,35.925733,33.528131,295.21030,67.931900
2059,2023-12-14 16:00:00+00:00,42.153689,70.366728,87.108064,33.038557,38.996182,300.70790,68.170420

In [70]:
X = aligned[['pm02_5', 'humidity', 'temperature']]
y = aligned['PM25']

In [73]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X, y)

# Coefficients
a, b, c = model.coef_
d = model.intercept_

print(f"Correction equation:")
print(f"PM2.5_corrected = {a:.3f} * PM2.5_lowcost + {b:.3f} * RH + {c:.3f} * Temp + {d:.3f}")

Correction equation:
PM2.5_corrected = 0.350 * PM2.5_lowcost + -0.507 * RH + -1.194 * Temp + 74.761

In [74]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
import numpy as np

y_pred = model.predict(X)

print("R²:", r2_score(y, y_pred))
print("RMSE:", np.sqrt(mean_squared_error(y, y_pred)))
print("MAE:", mean_absolute_error(y, y_pred))

R²: 0.508267995265187
RMSE: 8.319169350027927
MAE: 5.458610718810123

PERFORMING THE CORRECTIONS

In [78]:
okess = pd.read_csv('okess_merged_file.csv')
okess

,timestamp,humidity,pm01_0,pm02_5,pm10_0,temperature,Wind Speed,Wind Direction
0,20-10-22 13:00,53.982127,15.234581,22.706440,26.065118,32.064138,1.433289,264.365306
1,20-10-22 14:00,50.312973,12.420875,18.294612,19.867003,32.451294,1.443483,264.005652
2,20-10-22 15:00,48.799323,11.843698,18.381512,20.573110,32.068030,1.248599,274.138657
3,20-10-22 16:00,49.508282,11.917207,17.701839,20.065476,31.539330,1.108525,283.238810
4,20-10-22 17:00,55.311741,21.630719,33.049837,39.356210,30.280923,0.962736,313.552319
...,...,...,...,...,...,...,...,...
2658,08-02-23 7:00,NaN,NaN,NaN,NaN,NaN,3.166077,215.093943
2659,08-02-23 8:00,NaN,NaN,NaN,NaN,NaN,3.818657,215.229106
2660,08-02-23 9:00,NaN,NaN,NaN,NaN,NaN,4.488401,217.150207
2661,08-02-23 10:00,57.604584,19.697674,29.511627,32.186047,31.036015,4.189939,219.679360
2662,08-02-23 11:00,58.112760,15.636364,21.515152,24.121212,30.592350,4.256778,223.534594

In [85]:
import pandas as pd

# Load the dataset
df = pd.read_csv("okess_merged_file.csv")

# Ensure the column names are correct (adjust if needed)
# Apply the correction formula
df["pm02_5_corrected"] = (
    0.350 * df["pm02_5"] +
    -0.507 * df["humidity"] +
    -1.194 * df["temperature"] +
    74.761
)

# View the first few rows
df[["timestamp", "pm02_5", "humidity", "temperature", "pm02_5_corrected"]].to_csv('okess_corrected_pm.csv')
df

,timestamp,humidity,pm01_0,pm02_5,pm10_0,temperature,Wind Speed,Wind Direction,pm02_5_corrected
0,20-10-22 13:00,53.982127,15.234581,22.706440,26.065118,32.064138,1.433289,264.365306,17.054734
1,20-10-22 14:00,50.312973,12.420875,18.294612,19.867003,32.451294,1.443483,264.005652,16.908592
2,20-10-22 15:00,48.799323,11.843698,18.381512,20.573110,32.068030,1.248599,274.138657,18.164045
3,20-10-22 16:00,49.508282,11.917207,17.701839,20.065476,31.539330,1.108525,283.238810,18.197985
4,20-10-22 17:00,55.311741,21.630719,33.049837,39.356210,30.280923,0.962736,313.552319,22.129968
...,...,...,...,...,...,...,...,...,...
2658,08-02-23 7:00,NaN,NaN,NaN,NaN,NaN,3.166077,215.093943,NaN
2659,08-02-23 8:00,NaN,NaN,NaN,NaN,NaN,3.818657,215.229106,NaN
2660,08-02-23 9:00,NaN,NaN,NaN,NaN,NaN,4.488401,217.150207,NaN
2661,08-02-23 10:00,57.604584,19.697674,29.511627,32.186047,31.036015,4.189939,219.679360,18.827543
2662,08-02-23 11:00,58.112760,15.636364,21.515152,24.121212,30.592350,4.256778,223.534594,16.300868

In [84]:
pd.read_csv('okess_corrected_pm.csv')

,Unnamed: 0,timestamp,pm02_5,humidity,temperature,pm02_5_corrected
0,0,20-10-22 13:00,22.706440,53.982127,32.064138,17.054734
1,1,20-10-22 14:00,18.294612,50.312973,32.451294,16.908592
2,2,20-10-22 15:00,18.381512,48.799323,32.068030,18.164045
3,3,20-10-22 16:00,17.701839,49.508282,31.539330,18.197985
4,4,20-10-22 17:00,33.049837,55.311741,30.280923,22.129968
...,...,...,...,...,...,...
2658,2658,08-02-23 7:00,NaN,NaN,NaN,NaN
2659,2659,08-02-23 8:00,NaN,NaN,NaN,NaN
2660,2660,08-02-23 9:00,NaN,NaN,NaN,NaN
2661,2661,08-02-23 10:00,29.511627,57.604584,31.036015,18.827543
2662,2662,08-02-23 11:00,21.515152,58.112760,30.592350,16.300868

In [88]:
import pandas as pd

# Load your CSV file
df = pd.read_csv("okess_corrected_pm.csv")

# Define AQI breakpoints for PM2.5
breakpoints = [
    (0.0, 12.0, 0, 50),
    (12.1, 35.4, 51, 100),
    (35.5, 55.4, 101, 150),
    (55.5, 150.4, 151, 200),
    (150.5, 250.4, 201, 300),
    (250.5, 350.4, 301, 400),
    (350.5, 500.4, 401, 500),
]

# AQI calculation function
def calculate_aqi_pm25(pm):
    if pd.isna(pm):
        return None
    for c_low, c_high, i_low, i_high in breakpoints:
        if c_low <= pm <= c_high:
            aqi = (i_high - i_low) / (c_high - c_low) * (pm - c_low) + i_low
            return round(aqi, 2)
    return None

# Apply the function to the corrected PM2.5 column
df["AQI_PM2.5"] = df["pm02_5_corrected"].apply(calculate_aqi_pm25)

# Save the result to a new CSV file
df.to_csv("okess_aqi.csv", index=False)

# Show first few rows
print(df[["timestamp", "pm02_5_corrected", "AQI_PM2.5"]].head(50))

         timestamp  pm02_5_corrected  AQI_PM2.5
0   20-10-22 13:00         17.054734      61.42
1   20-10-22 14:00         16.908592      61.11
2   20-10-22 15:00         18.164045      63.75
3   20-10-22 16:00         18.197985      63.82
4   20-10-22 17:00         22.129968      72.09
5   20-10-22 18:00         23.623524      75.23
6   20-10-22 19:00         26.507178      81.30
7   20-10-22 20:00         25.355859      78.88
8   20-10-22 21:00         24.406397      76.88
9   20-10-22 22:00         19.678883      66.94
10  20-10-22 23:00         15.258948      57.64
11   21-10-22 0:00         18.148555      63.72
12   21-10-22 1:00         20.907730      69.52
13   21-10-22 2:00         17.585880      62.54
14   21-10-22 3:00         14.591786      56.24
15   21-10-22 4:00         11.922741      49.68
16   21-10-22 5:00         15.140682      57.39
17   21-10-22 6:00         29.587433      87.78
18   21-10-22 7:00         23.522499      75.02
19   21-10-22 8:00         19.383783      66.32
20   21-10-22 9:00         19.728619      67.04
21  21-10-22 10:00         19.967293      67.54
22  21-10-22 11:00         18.611671      64.69
23  21-10-22 12:00         19.024651      65.56
24  21-10-22 13:00         16.604734      60.47
25  21-10-22 14:00         16.871043      61.03
26  21-10-22 15:00         17.245052      61.82
27  21-10-22 16:00         20.683297      69.05
28  21-10-22 17:00         21.894944      71.60
29  21-10-22 18:00         19.480947      66.52
30  21-10-22 19:00         23.006026      73.94
31  21-10-22 20:00         20.553506      68.78
32  21-10-22 21:00         17.912080      63.22
33  21-10-22 22:00         15.251738      57.63
34  21-10-22 23:00         18.664460      64.81
35   22-10-22 0:00         20.784573      69.26
36   22-10-22 1:00         21.749747      71.29
37   22-10-22 2:00         15.139839      57.39
38   22-10-22 3:00         14.371555      55.78
39   22-10-22 4:00          8.262947      34.43
40   22-10-22 5:00          9.241990      38.51
41   22-10-22 6:00         14.354992      55.74
42   22-10-22 7:00         18.407926      64.27
43   22-10-22 8:00         18.361957      64.17
44   22-10-22 9:00         17.871631      63.14
45  22-10-22 10:00         19.753495      67.10
46  22-10-22 11:00         19.360051      66.27
47  22-10-22 12:00         19.645457      66.87
48  22-10-22 13:00         20.516524      68.70
49  22-10-22 14:00         18.783218      65.05

In [ ]:
import pandas as pd

# Load your CSV file
df = pd.read_csv("adv_merged_file.csv")

# Define AQI breakpoints for PM2.5
breakpoints = [
    (0.0, 12.0, 0, 50),
    (12.1, 35.4, 51, 100),
    (35.5, 55.4, 101, 150),
    (55.5, 150.4, 151, 200),
    (150.5, 250.4, 201, 300),
    (250.5, 350.4, 301, 400),
    (350.5, 500.4, 401, 500),
]

# AQI calculation function
def calculate_aqi_pm25(pm):
    if pd.isna(pm):
        return None
    for c_low, c_high, i_low, i_high in breakpoints:
        if c_low <= pm <= c_high:
            aqi = (i_high - i_low) / (c_high - c_low) * (pm - c_low) + i_low
            return round(aqi, 2)
    return None

# Apply the function to the 'pm_corrected' column
df["AQI_PM2.5"] = df["pm_corrected"].apply(calculate_aqi_pm25)

# save the result to a new CSV file
df.to_csv("aqi_output.csv", index=False)

# Show first few rows
print(df[["timestamp", "pm_corrected", "AQI_PM2.5"]].head())